body {
            background-color: #f2f2;
            font-family: Arial, sans-serif;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 50px auto;
            max-width: 500px;
            border-radius: 10px;
        }

        .contact-info h1 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .contact-info p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .contact-info a {
            font-size: 18px;
            color: #0077b6;
            text-decoration: none;
        }

        .contact-info a:hover {
            color: #00569d;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        a.purple-link {
            color: rgb(255, 255, 255);
        }
    </style>